{% extends 'home.html' %}

{% load static %}
{% block content %}
<section id="main" class="main-intro | d-flex justify-content-center align-items-center">
  <article id="intro" class="d-flex flex-column justify-content-center text-center">
    <a class="position-relative mb-36" href="{% url 'ai:name-form' %}">
      <img class="intro-logo" src="{% static '/img/title_intro_sub.svg' %}" alt="">
      <img class="bg-box" src="{% static '/img/bg_box_white.svg' %}" alt="">
    </a>
  </article>
</section>
{% endblock content %}