<form method="POST" action="{% url 'ai:name-form' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-wrap mb-36">
    <span class="d-block mb-36" style="font-family: 'Garam'; font-weight: 400; font-size: 30px; line-height: 36px;">
      당신의 이름을 담아주세요.
    </span>
    <input id="your_name" class="input-half" type="text" name="username" maxlength="100" required>
  </div>
  <div class="input-wrap">
    <input class="btn-submit m-auto" type="submit" value="담기">
  </div>
</form>