{% block form %}
<span class="cur-stage" style="display: none">problem</span>
<span class="next-stage" style="display: none">face01</span>

<form method="POST" action="{% url 'ai:problem-form' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="textarea-wrap">
    <textarea id="input-problem" name="problem" cols="30" rows="10"></textarea>
  </div>

  <input class="btn-submit" type="submit" value="담기">
</form>

<script>
  $('.btn-submit').on('click', function () {
    $(this).css('pointer-events', 'none');
    setTimeout(function () {
      $('.btn-submit').css('pointer-events', 'auto');
    }, 1000);
    if ($('form textarea').val() === '') {
      return false;
    }

    var curStage = $('.cur-stage').text();
    var nextStage = $('.next-stage').text();

    setTimeout(function () {
      $.ajax({
        url: `/${curStage}-result`,
        success: function (data) {
          $('.article-body').append(data);
          setPush();
        }
      });

      $.ajax({
        url: `/${nextStage}-form`,
        success: function (data) {
          $('.article-footer').html(data);
        }
      });

      $('.article-body').animate({
        scrollTop: $('.article-body').get(0).scrollHeight
      }, 500);
    }, 250)
  });
</script>
{% endblock form %}